@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic:wght@400;700&family=Comic+Neue:wght@300&family=Nanum+Pen+Script&family=Work+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap&family=Dancing+Script&family=Montserrat+Alternates&family=Dongle:wght@300&family=Indie+Flower&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");




body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: crimson;
    position: sticky;
    top: 0;
    /* height: 65px;    */

}

.img-logo {
    width: 70%;
    height: 70%;

}

header a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    align-items: center;
    font-size: 20px;
}

nav {
    float: left;
}


nav ul li {
    display: inline;
    margin-right: 2vw;
}

nav a:hover {
    font-weight: bold;
    color: yellow;
}

body {
    margin: 0;
}

footer {
    padding: 20px 0px;
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    color: white;
    background-color: crimson;
    text-align: center;




}

.green-button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* COLOR -------------------------------------------------------------------------------*/

.color-white {
    color: white;

}

.color-green {
    color: #04AA6D;

}

/*--------------------------------------------------------------------------------------*/


/* MARGIN + PADDING + WIDTH ------------------------------------------------------------------*/

.horizontal-margin-5 {
    margin: 0 5px 0;
}


.left-margin-15 {
    margin-left: 15px;

}

.right-margin-15 {
    margin-right: 15px;
}

.right-margin-25 {
    margin-right: 25px;
}

.no-top-margin {
    margin-top: 0px;
}

.top-margin-15 {
    margin-top: 15px;
}

.top-margin-30 {
    margin-top: 30px;
}

.top-margin-10p {
    margin-top: 10%;
}

.bottom-margin-15 {
    margin-bottom: 15px;
}

.bottom-margin-20 {
    margin-bottom: 20px;
}

.bottom-margin-30 {
    margin-bottom: 30px;
}


.no-bottom-margin {
    margin-bottom: 0px;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}



.left-padding-15 {
    padding-left: 15px;
}

.right-padding-15 {
    padding-right: 15px;
}

.vertical-padding-5 {
    padding: 5px 0 5px;
}

.padding-1p {
    padding: 1%;
}

.padding-2p {
    padding: 2%;
}

/*--------------------------------------------------------------------------------------*/

/* Text Align  ------------------------------------------------------------------*/

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-justify {
    text-align: justify;
}

/* ------------------------------------------------------------------*/


/* FLEX  ------------------------------------------------------------------*/
.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-base-1 {
    flex-basis: 1;
}

.flex-base-3 {
    flex-basis: 3;
}



.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}


.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

/*--------------------------------------------------------------------------------------*/

.quotes-activity {
    border: 2px rgba(0, 0, 0, 0.664) solid;
    box-sizing: border-box;
    width: 30%;
    flex-basis: 1;
}

.history-item {
    border: 2px rgba(0, 0, 0, 0.664) solid;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px 0;

}

.card {
    box-shadow: 0 0 10px 0 rgba(3, 3, 3, 0.452);
    border-radius: 10px;

}

.story {
    resize: vertical;
    font-family: 'Comic Neue';
    font-size: 20px;
    text-align: justify;
}

.quotes {
    font-family: "Indie Flower";
    resize: vertical;
    text-align: center;
    margin: 0 5px 0;
}

.line-object {
    background-color: black;
    width: 100%;
    height: 3px;
}

.a-no-style {}

.ul-no-style {
    list-style: none;
}

.image-fit-cover {

    object-fit: contain;
    object-position: center;
    box-sizing: border-box;
    border-radius: 8%;
    width: 90%;
}


.image-circle {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.login-signup {


    width: auto;
    padding: 20px;
}

.article {
    width: 75%;
}

.article-2 {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 100%;
}

/* FONT --------------------------------------------------------------------------------------*/

.font-comic {
    font-family: 'Comic Neue';
}

.font-bold {
    font-weight: bold;
}

.font-size-2vw {
    font-size: 2vw;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}
.font-size-10 {
    font-size: 10px;
}

.font-size-100 {
    font-size: 100px;
}






/* -------------------------------------------------------------------------------------------------*/


/* COLOR + OPACITY --------------------------------------------------------------------------------------*/

.background-white {
    background-color: rgb(249, 249, 249);
}

.background-crimson {
    background-color: rgb(255, 0, 119);
}

.border-black {
    border: 0.5px rgba(0, 0, 0, 0.664) solid;
}

.border-white {
    border: 0.5px whitesmoke solid;
}

.opacity-90 {
    opacity: 90%;
}

.opacity-50 {
    opacity: 50%;
}


/*  --------------------------------------------------------------------------------------*/


/* HEADER --------------------------------------------------------------------------------------*/

#hamburger-nav-top-right {
    display: none;
}

#hamburger-menu a:hover {
    background-color: #403d3e;
}

#hamburger-menu {
    display: none;
}

/*--------------------------------------------------------------------------------------*/


#login {
    float: right;
    font-weight: bold;
    font-size: 30px;
    text-align: right;
}

#nav-top-right li {
    font-weight: bold;
    font-size: 25px;
}

#about-us {

    width: 75%;
}

#story {
    width: 75%;
}

#about-us-text {
    text-align: left;
}

#about-us-text p {
    font-size: 20px;
}

#about-us-text h2 {
    font-size: 30px;
}

#about-us-image{
    width: 450px;
    height: 450px;
}


#quotes-display {

    width: 75%;
}

#article-2 {
    background-color: rgb(255, 255, 255);
    height: 0px;
    width: 100%;
}

.text-story {
    resize: vertical;
    font-family: 'Cormorrant Garamond';
    font-size: 25px;    
}

#text-quotes {
    font-family: "Indie Flower";
   font-size: 35px;
}

#act-container {
    height: auto;
}

.tanda-petik {
    font-family: 'BIZ UDPGothic';
}

.background-blue {
    background-color: blue;
}

.background-black {
    background-color: #1c1b1b;
}